.register-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.register-form {
  z-index: 1;
  background: rgba(0, 0, 0, 0.65); /* Semi-transparent dark glass effect */
  padding: 1.8rem;
  width: 80%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(222, 222, 222, 0.4);
  transition: all 0.3s ease-in-out;
}

.register-form:hover {
  box-shadow: 0 0 40px rgba(239, 243, 242, 0.8);
}

h2 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

input,
textarea {
  width: 70%;
  margin: 10px auto;
  padding: 0.50rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(4px);
}

input:focus,
textarea:focus {
  border-color: #101010;
  outline: none;
  background: rgba(255, 255, 255, 0.12);
}

input:hover,
textarea:hover {
  border-color: #eff4f3;
  background: rgba(255, 255, 255, 0.15);
}

button {
  padding: 10px 30px;
  margin-top: 15px;
  font-size: 16px;
  background: linear-gradient(to right, #00ffc8, #8f00ff);
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(244, 245, 245, 0.5);
}

button:hover {
  background: linear-gradient(to right, #ffffff, #8f00ff);
  color: #0c061d;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

input[type="file"] {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 14px;
}

input[type="file"]::file-selector-button {
  background: #f9f9f9;
  border: none;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

input[type="file"]::file-selector-button:hover {
  background: #fbf9f9;
  color: #0c061d;
}
